body { background-color: rgb(0, 132, 255);}

.box {background-color: white; margin: 25%; width: 4in; height: 5in;border:2px round grey;}

h1 { text-align: center;}

label 

.button {background-color: blue; width: 75%;}